.footer-container {
    background: var(--bg-blue);
    padding: 1.2rem;
    text-align: center;
    margin-top: 3rem;
    color:var(--muted) ;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .footer-links a {
    text-decoration: none;
    color: var(--muted) ;
    font-weight: 600;
  }
  
  .footer-links a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
  
  copyright {
    font-size: 0.9rem;
    opacity: 0.9;
  }