<header class="nav-container">
  
    <div class="brand" >
      @if (showName) {
      <h2>Harita Dutt Nagalapuram</h2>
      <small>Front-End & Full-Stack Developer</small>
      }
    </div>
  
  
    <nav class="nav-links">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="blog" routerLinkActive="active">Blog</a>
      <a routerLink="about" routerLinkActive="active">About</a>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
    </nav>
  </header>
  