:root {
    --bg-blue: #eaf4ff;
    --accent-pink: #ff83c5;
    --card-white: #ffffff;
    --text-gray: #263238;
    --radius: 12px;
  }
  body {
  margin: 0;
  background: var(--bg-blue);
  font-family: 'Poppins', sans-serif;
  color: var(--text-gray);
}
